- hosts: "{{host | default('all')}}"
  become: true
  tasks:
  - name: "Install Nfs server in controller"
    apt:
      name: ['nfs-kernel-server']
      state: present
      update_cache: yes
    when: type == "controller"
  - name: "Install Nfs common in nodes controller"
    apt:
      name: ['nfs-common']
      state: present
      update_cache: yes
    when: type == "worker"
  - name: "set nfs-server in /etc/hosts"
    lineinfile:
      path: "/etc/hosts"
      regexp: "nfs-server$"
      line: "{{controller_ip}}  nfs-server"
