[Unit]
Description=ensure /run is shared
Before=docker.service
[Service]

Type=oneshot
ExecStart=/sbin/shared-run.sh
RemainAfterExit=yes
TimeoutSec=0

[Install]
WantedBy=multi-user.target

